<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../styles/images/logo-no-text.svg">
    <title>Events</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/basic.css">
    <link rel="stylesheet" href="../styles/events.css">
</head>
<body>
    <div id="wrapper">
        <div id="sub-wrapper">
            <div id="overlay">
            </div>

            <div id="navigation-bar-container">
                <div id="logo-container">
                    <img src="../styles/Images/logo-no-text.svg" alt="Logo">
                </div>
                <div id="navigation-items-container">
                    <ul id="navigation-items">
                        <li><a href="/">Home</a></li>
                        <li><a href="/recipes">Recipes</a></li>
                        <li><a href="/schedule">Schedule</a></li>
                        <li><a href="/tasks">Tasks</a></li>
                    </ul>
                </div>
                <div id="logout-container">
                    <ul id="logout-item">
                        <a href="/users/logout">Logout</a>
                    </ul>
                </div>

                <div class="burger-menu">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
    
                <div class="small-navigation invisible">
                    <div class="close-button-container">
                        <img id="small-menu-close-button" src="../styles/images/close-button.svg" alt="Close Button">
                    </div>
                    <ul id="small-navigation-items">
                        <li><a href="/">Home</a></li>
                        <li><a href="/recipes">Recipes</a></li>
                        <li><a href="/schedule">Schedule</a></li>
                        <li><a href="/tasks">Tasks</a></li>
                        <li><a href="/users/logout">Logout</a></li>
                    </ul>
                </div>
            </div>

            
        

            <div id="main-events-container">
                <h1>EVENTS</h1>
                <div>
                    <div id="events-container"></div>
                </div> 
                
                <div>
                    <button id="create-event-button">Create New Event</button>
                </div>  
            </div>


            <div id="footer-container">
                <div id="disclaimer-container">
                    <p>All rights reserved Julian Montoya Franco - 2021</p>
                </div>
                <div id="social-container">
                    <ul>
                        <li><img src="../styles/images/facebook.svg" alt="Facebook Logo"></li>
                        <li><img src="../styles/images/instagram.svg" alt="Instagram Logo"></li>
                        <li><img src="../styles/images/whatsapp.svg" alt="Whatsapp Logo"></li>
                        <li><img src="../styles/images/linkedin.svg" alt="LinkedIn Logo"></li>
                        <li><img src="../styles/images/twitter.svg" alt="Twitter Logo"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="../scripts/mobileMenu.js"></script>
    <script src="../scripts/classes/Message.js"></script>
    <script src="../scripts/events.js"></script>
</body>
</html>