<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catering Management</title>
    <link rel="stylesheet" href="../styles/basic.css">
</head>
<body>
    <div id="wrapper">
        <div id="navigation-bar-container">
            <div id="logo-container">
                <img id="logo" src="../styles/images/logo.svg" alt="Logo">
            </div>
            <div id="navigation-items-container">
                <ul id="navigation-items">
                    <li><a href="/events">Events</a></li>
                    <li><a href="/recipes">Recipes</a></li>
                    <li><a href="/schedule">Schedule</a></li>
                    <li><a href="/tasks">Tasks</a></li>
                </ul>
            </div>
            <div id="login-container">
                <ul id="login-item">
                    <a href="/users/login">Login</a>
                </ul>
            </div>
        </div>

        <div id="main-container">
            <div id="events-container">
                <a href="/events" class="overlay-link"></a>
                <h2><a href="/events">Events</a></h2>
            </div>
            <div id="recipes-container">
                <a href="/recipes" class="overlay-link"></a>
                <h2><a href="/recipes">Recipes</a></h2>
            </div>
            <div id="schedule-container">
                <a href="/schedule" class="overlay-link"></a>
                <h2><a href="/schedule">Schedule</a></h2>
            </div>
            <div id="tasks-container">
                <a href="/tasks" class="overlay-link"></a>
                <h2><a href="/tasks">Tasks</a></h2>
            </div>
        </div>

        <div id="footer-container">
            <div id="disclaimer-container">
                <p>All rights reserved Julian Montoya Franco</p>
            </div>
            <div id="social-container">
                <ul>
                    <li><img src="../styles/images/facebook.svg" alt="Facebook Logo"></li>
                    <li><img src="../styles/images/instagram.svg" alt="Instagram Logo"></li>
                    <li><img src="../styles/images/whatsapp.svg" alt="Whatsapp Logo"></li>
                    <li><img src="../styles/images/linkedin.svg" alt="LinkedIn Logo"></li>
                    <li><img src="../styles/images/twitter.svg" alt="Twitter Logo"></li>
                </ul>
            </div>
        </div>

    </div>


</body>
</html>