<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../styles/images/logo-no-text.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/register.css">
    <title>Register</title>
</head>
<body>
    <div id="registration-container">

        <div id="logo-container">
            <img src="../styles/images/logo.svg" alt="Catering Management Logo">
        </div>

        <div>
            <p>Please enter the following information to register</p>
        </div>
        
        <div>
            <form action="/users/register" method="POST">
                <div>
                    <input type="text" id="name" name="name" placeholder="Name" required>
                </div>
                <div>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div>
                    <input type="password" id="password" name="password" placeholder="Password" required>
                </div>
                <div>
                    <input type="password" id="password2" name="password2" placeholder="Confirm Password" required>
                </div>
                <div>
                    <input type="submit" value="Register" />
                </div>

                <ul>
                    <% if(typeof errors != 'undefined'){ %>
                        <% errors.forEach(error =>{ %>
                            <li><%= error.message %></li>
                            <% }) %> 
                    <% } %>
                </ul>
            </form>
        </div>

        <div>
            <span>Already registered? <a href="/users/login">Login</a></span>
        </div>
    </div>
</body>
</html>