<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="../styles/basic.css">
    <link rel="stylesheet" href="../styles/tasks.css">
</head>
<body>
    <div id="wrapper">

        <div id="navigation-bar-container">
            <div id="logo-container">
                <img src="../styles/images/logo.svg" alt="Logo">
            </div>
            <div id="navigation-items-container">
                <ul id="navigation-items">
                    <li><a href="/">Home</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/recipes">Recipes</a></li>
                    <li><a href="/schedule">Schedule</a></li>
                </ul>
            </div>
            <div id="login-container">
                <ul id="login-item">
                    <a href="/users/login">Login</a>
                </ul>
            </div>
        </div>

        <div id="main-tasks-container">
            <h1>TASKS</h1>
            <div>
                <div>
                    <button id="create-task-button">Create Task</button>
                </div>
                <div id="tasks-container">
                </div>
            </div>
        </div>
        
            </br>

        <div id="footer-container">
            <div id="disclaimer-container">
                <p>All rights reserved Julian Montoya Franco</p>
            </div>
            <div id="social-container">
                <ul>
                    <li><img src="../styles/images/facebook.svg" alt="Facebook Logo"></li>
                    <li><img src="../styles/images/instagram.svg" alt="Instagram Logo"></li>
                    <li><img src="../styles/images/whatsapp.svg" alt="Whatsapp Logo"></li>
                    <li><img src="../styles/images/linkedin.svg" alt="LinkedIn Logo"></li>
                    <li><img src="../styles/images/twitter.svg" alt="Twitter Logo"></li>
                </ul>
            </div>
        </div>

    </div>

    <script src="../scripts/tasks.js"></script>
</body>
</html>